@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: $black;
  color: $white;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: unset;
}

h1, 
h2,
h3 {
  font-family: var(--font-header), 'Lucida Handwriting', 'Apple Chancery', 'Brush Script', Cursive;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font: inherit;
}