@import '../variables';

.footer {
  background-color: lighten($background, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 500;
}
.logo {
  background: -webkit-linear-gradient($orange, $red, $red, $purple);
  background-clip: text;
  -webkit-background-clip: text;
  padding: 10px 10px 0 15px;
  font-weight: 600;
  font-size: 34px;
  line-height: 1;
  text-decoration: none;
  transition: all 0.3s;
  opacity: 1;
  -webkit-text-fill-color: transparent;
}